.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.header {
    width: 1512px;
    height: 270px;
    display: flex;
    flex-direction: column;
    background: #CF4647;
    border-radius: 00px 0px 10px 10px;
}

.titulo {
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #D9D9D9;

}

.titulo span {
    padding: 10px;
    font-size: 20px;
    color: #D9D9D9;
}

.input-area {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;

}

.input-area input {
    width: 30%;
    height: 50px;
    display: flex;
    margin: 10px;
    padding: 10px;
    background: #D9D9D9;
    color: #524656;
    border: 0;
    border-radius: 20px;
}

.input-area input:focus {
    display: flex;
    outline-color: #eb7b59;
    flex-direction: column;
}

.input-area button {

    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: #A7C5BD;
    color: #524656;
    border-radius: 20px;
    border: 0px;

}

.input-area button:hover {
    border: 10px;
    transform: scale(1.07);
    cursor: pointer;
}

.socials {
    display: flex;
    padding: 10px;

}

.container-video {
    position: absolute;
    width: 1200px;
    height: 500px;
    top: 295px;
    display: flex;
    background: #A7C5BD;
    border-radius: 20px;

}

.container img {
    position: absolute;
    display: flex;
    width: 590px;
    height: 373px;
    left: 20px;
    top: 70px;
    border-radius: 20px;

}

.title {
    overflow: hidden;
}

.title span {
    position: absolute;
    display: flex;
    width: 560px;
    height: 288px;
    left: 640px;
    top: 100px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #524656;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.canal span {
    position: absolute;
    flex-direction: column;
    display: flex;
    width: 630px;
    height: 288px;
    left: 640px;
    top: 140px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #524656;
    white-space: nowrap;
}

.data span {
    position: absolute;
    flex-direction: column;
    display: flex;
    width: 630px;
    height: 288px;
    left: 640px;
    top: 180px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #524656;
}

.button-download button {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    left: 640px;
    top: 260px;
    font-weight: bold;
    font-size: 20px;
    background: #CF4647;
    color: #A7C5BD;
    border: 0px;

}

.button-download button:hover {
    border: 10px;
    transform: scale(1.07);
    cursor: pointer;
}

@media (max-width: 1134px) {

    .container {
        width: 100%;

    
    }

    .header {
        width: 80%;
      
    }
    .titulo {
        font-size: 30px;
    }

    .input-area input {
        width: 60%;

    }

    .container-video {
       width: 76%;
        height: 260px;
    }

    .container img {
      
        width: 150px;
        height: 90px;
        left: 20px;
        top: 20px;
        border-radius: 10px;
    
    }

    .title span {
       
      
        width: 180px;
        height: 288px;
        left: 175px;
        top: 20px;
        font-size: 16px;
    }
    
    .canal span {
        width: 180px;
        height: 288px;
        left: 175px;
        top: 40px;
        font-size: 16px;
    }
    
    .data span {
        width: 180px;
        height: 288px;
        left: 176px;
        top: 60px;
        font-size: 16px;
    }
    
    .button-download button {
     
        width: 100px;
        height: 50px;
        left: 50px;
        top: 120px;
        font-size: 18px;
  
    }
}