*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1{
  font-family: sans-serif;
}

body{
  background-color: #e5ddcb;
}

span{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #524656;
}